server {
  server_name _;
  listen 80;
  client_max_body_size 150M;

  location / {
    include uwsgi_params;
    uwsgi_pass 127.0.0.1:{{ app_port }};
    proxy_read_timeout 120s;
    uwsgi_read_timeout 120s;
  }

  location /static/ {
    alias {{ app_dir }}/collected_static/;
  }
}
