[uwsgi]
socket           = 127.0.0.1:{{ app_port }}
chdir            = {{ app_dir }}
pythonpath       = {{ app_dir }}
module           = did_machine.wsgi:application
processes        = 1  # note: change django caching to memcached or redis to allow for multiple processes
enable-threads   = true
uid              = {{ app_user }}
logto            = /var/log/uwsgi/did_machine.log
harakiri         = 90
harakiri-verbose = true
plugin           = python

# generated on {{ ansible_date_time.iso8601 }}
