{% extends 'bootstrap3/bootstrap3.html' %}

{% block bootstrap3_title %}{% block title %}DID Machine{% endblock %}{% endblock %}

{% load bootstrap3 %}
{% load static %}

{% block bootstrap3_extra_head %}
    <link href="{% static 'django_tables2/bootstrap.css' %}" rel="stylesheet" />
{% endblock %}

{% block bootstrap3_content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'devices' %}"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> DID Machine</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li{% if current_page == 'devices' %} class="active"{% endif %}>
                        <a href="{% url 'devices' %}">Manage Devices</a>
                    </li>
                    <li{% if current_page == 'numbers' %} class="active"{% endif %}>
                        <a href="{% url 'numbers' %}">Manage Numbers</a>
                    </li>
                    <li{% if current_page == 'reservations' %} class="active"{% endif %}>
                        <a href="{% url 'reservations' %}">Order Numbers</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-top: 30px" role="main">
        {% if messages %}
            <div style="margin-top: 40px">
                {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
            </div>
        {% endif %}

        {% block content %}(no content){% endblock %}
    </div>

    <footer class="footer">
        <div class="container text-center">
            <hr />
            <p class="text-muted">&copy; 2017 <a href="https://apeiron.io/" target="_blank">apeiron.io</a></p>
            <p class="text-muted"><a href="https://api.apeiron.io/v2/" target="_blank">API</a> | <a href="https://dashboard.apeiron.io/" target="_blank">Dashboard</a> | <a href="mailto:info@apeiron.io">Contact</a></p>
        </div>
    </footer>
{% endblock %}
