{% extends 'base.html' %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block content %}
    <div class="page-header">
        <h1>Manage Devices</h1>
    </div>

    <p>Add new devices in terminal using <code>python manage.py provision_freeswitch</code> command.</p>

    {% if devices.data|length > 0 %}
        <div class="panel panel-default">
            <div class="panel-body">
                {% render_table devices 'django_tables2/bootstrap.html' %}
            </div>
        </div>
    {% endif %}
{% endblock %}
