{% extends 'base.html' %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block content %}
    <div class="page-header">
        <h1>Manage Numbers</h1>
    </div>

    {% if numbers.data|length > 0 %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Active Numbers</h3>
            </div>
            <div class="panel-body">
                {% render_table numbers 'django_tables2/bootstrap.html' %}
            </div>
        </div>
    {% else %}
        <p>You have not ordered any numbers.</p>
    {% endif %}
{% endblock %}
