{% extends 'base.html' %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block content %}
    <div class="page-header">
        <h1>Order Numbers</h1>
    </div>

    <div>
        How to order numbers:
        <ol>
            <li>Reserve at least one number</li>
            <li>Order reserved numbers</li>
        </ol>
    </div>

    <div>
        <a class="btn btn-sm btn-success" href="?sync">Sync Numbers <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a>
        <a class="btn btn-sm btn-success" href="?reserve">Reserve Random Number <span class="glyphicon glyphicon-random" aria-hidden="true"></span></a>
        {% if numbers.data|length > 0 %}
            <a class="btn btn-sm btn-info" href="?order">Order Reserved Numbers <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
        {% endif %}
    </div>

    <br />

    {% if numbers.data|length > 0 %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Reserved Numbers</h3>
            </div>
            <div class="panel-body">
                {% render_table numbers 'django_tables2/bootstrap.html' %}
            </div>
        </div>
    {% endif %}
{% endblock %}
