<a class="btn btn-sm btn-danger" href="?delete={{ record.pk }}" onclick="return confirm('Are you sure you want to delete this device?')">Delete <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
