<a class="btn btn-sm btn-danger" href="?delete={{ record.number }}" onclick="return confirm('Are you sure you want to delete this number?')">Delete <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
