<a href="?toggle_{{ column.name }}={{ record.number }}" class="btn btn-sm btn-{% if value %}success{% else %}default{% endif %}"><span class="glyphicon glyphicon-{% if value %}ok{% else %}remove{% endif %}"></span></a>
