<?xml version="1.0" encoding="utf-8"?>
<include>
    <gateway name="{{ item.key }}">
        <param name="register" value="{% if item.value.register %}true{% else %}false{% endif %}"/>
        <param name="caller-id-in-from" value="true"/>
        <param name="username" value="{{ item.value.username }}"/>
        <param name="password" value="{{ item.value.password }}"/>
        <param name="ping" value="2500"/>
    </gateway>
</include>
