<configuration name="xml_curl.conf" description="cURL XML Gateway">
  <bindings>
    <binding name="dialplan">
      <param name="gateway-url" value="{{ mod_curl_dialplan }}" bindings="dialplan"/>
    </binding>

    <binding name="directory">
      <param name="gateway-url" value="{{ mod_curl_directory}}" bindings="directory"/>
    </binding>
  </bindings>
</configuration>