<?xml version="1.0" encoding="utf-8"?>
<include>

   <extension name="fr_4242176105">
    <condition field="destination_number" expression="4242176105">
       <action application="transfer" data="4242176105 XML fax"/>
       <action application="hangup"/>
    </condition>
   </extension>

  <extension name="vm_3107050058">
    <condition field="destination_number" expression="3107050058">
       <action application="transfer" data="3107050058 XML voicemail"/>
       <action application="hangup"/>
     </condition>
   </extension>

  <extension name="fax_receive">
    <condition field="destination_number" expression="3107050051">
       <action application="set" data="recipient=js@apeironsys.com"/>
       <action application="python" data="process-rxfax"/>
       <action application="hangup"/>
     </condition>
   </extension>


</include>
