<?xml version="1.0" encoding="utf-8"?>
<include>
    <context name="apeironfeatureDID">
        <extension name="FeatureFreeswitch-DID-Voicemail">
            <condition field="destination_number" expression="^(4242288300)$">
                <action application="set" data="dialed_extension=$1"/>
                <action application="export" data="dialed_extension=$1"/>
                <action application="set" data="call_timeout=30"/>
                <action application="set" data="hangup_after_bridge=true"/>
                <action application="set" data="continue_on_fail=true"/>
                <action application="bridge" data="user/${dialed_extension}@${domain_name}"/>
                <action application="answer"/>
                <action application="sleep" data="1000"/>
                <action application="bridge" data="loopback/app=voicemail:default ${domain_name} ${dialed_extension}"/>
            </condition>
        </extension>
    </context>
</include>
